<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div class="cupcake-list">
			{{#each cupcakes}}
				<a href="/cupcakes/{{this.id}}" class="cupcake">
					<div>
						<h4>{{this.name}}</h4>
						<p class="baker">Baker: {{this.baker}}</p>
						<p class="rating">Rating: {{this.averageRating}}</p>
					</div>
				</a>
			{{/each}}
		</div>
	</body>
</html>
