<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div class="cupcake">
			<h4>{{cupcake.name}}</h4>
			<p class="baker">Baker: {{cupcake.baker}}</p>
			<div class="votes">
				<h5>votes</h5>
				{{#each cupcake.ratings}}
					<span class="vote">{{this}}</span>
				{{/each}}
			</div>
			<p class="rating">Rating: {{cupcake.averageRating}}</p>
		</div>
	</body>
</html>
